body{
    margin: 0;
    padding: 0;
    background: #2b2a2a;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 4px solid #9c5691;
    border-bottom: 40px solid #9c5691;
    border-left: 1px solid #9c5691;
    border-right: 1px solid #9c5691;
    display: flex;
    padding: 0 40px 20px;
}

.loader span{
    position: relative;
    display: block;
    width: 2px;
    height: 100px;
    background: #9c5691;
    margin: 0 14px;
    transform-origin: top;
}

.loader span:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 30px;
    background: #9c5691;
    left: -14px;
    border-radius: 50%;
}

.loader span:first-child{
    animation: animate 1s linear infinite;
}

.loader span:last-child{
    animation: animate2 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(60deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes animate2{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-60deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}